.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;

  height: calc(100vh - 60px);
  width: 100%;

  &_padding {
    width: 100%;
    flex: 1;
  }

  &_signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid gray;

    background-color: $color-white-100;
    width: 450px;
    flex: 1;

    @media (max-width: 500px) {
      width: 95%;
      font-size: small;
    }

    &_item {
      display: flex;
      flex-direction: row;

      margin: 5px;
    }

    &_desc {
      margin: 15px;
    }

    &_inputBox {
      display: flex;
      width: 250px;
      height: 30px;

      margin: 5px;
      padding: 5px;

      @media (max-width: 500px) {
        width: 180px;
        margin: 1px;
        padding: 2px;
      }
    }

    &_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 30px;

      margin: 15px;
      font-weight: 700;

      cursor: pointer;

      border: none;
      background-color: $color-blue-300;

      @media (max-width: 500px) {
        margin: 10px;
      }
    }
  }
}

.name {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100px;

  @media (max-width: 500px) {
    width: 85x;
  }
}
