$HEADER-HEIGHT: 56px;
$FOOTER-HEIGHT: 50px;
$NAVIGATION-HEIGHT: 50px;

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 100vh;

  &__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;

    // 공통 스타일을 mixin으로 정의
    @mixin card-base {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      margin: 5px;
      cursor: pointer;
      background-size: cover;
      font-weight: 700;
      color: black;

      @media (min-width: 410px) {
        width: 400px;
        height: 150px;
        font-size: large;
      }

      @media not all and (min-width: 410px) {
        width: 300px;
        height: 100px;
        font-size: medium;
      }
    }

    &_intro {
      background-image: url("/assets/images/image-introduce.png");
      background-position: 100% 1%;
      @include card-base;
    }

    &_photo {
      background-image: url("/assets/images/image-intro.png");
      background-position: 100% 95%;
      @include card-base;
    }

    &_tico {
      background-image: url("/assets/images/image-tico.png");
      background-position: 100% 35%;
      @include card-base;
    }

    &_board {
      background-image: url("/assets/images/image-board.png");
      background-position: 100% 65%;
      cursor: auto;
      @include card-base;
    }

    &_prac {
      background-image: url("/assets/images/image-prac.png");
      background-position: 100% 17%;
      @include card-base;
    }
  }
}
