.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 56px;

  padding: 0 5px;

  background-color: $color-gray-200;

  &_logoBox {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    gap: 8px;

    cursor: pointer;

    &_logo {
      height: 75%;
    }

    &_title {
      font-size: 24px;
      font-weight: 600;
      font-style: italic;

      @media (max-width: 399px) {
        font-size: 15px;
      }
    }
  }

  &_search {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 16px;

    @media (max-width: 399px) {
      gap: 5px;
    }

    &_region {
      //새로운 CSS 표준에서는 모든 선언문이 중첩규칙보다 먼저 와야한다
      display: flex;
      align-items: center;
      justify-content: center;

      outline: none;
      cursor: pointer;

      padding: 6px 10px;

      border: 1px solid $color-white-300;
      border-radius: 4px;

      color: $color-black-900;
      background-color: $color-lightBlue-200;

      @media (max-width: 399px) {
        font-size: 10px;
      }
    }

    &_button {
      //새로운 CSS 표준에서는 모든 선언문이 중첩규칙보다 먼저 와야한다
      display: flex;
      align-items: center;
      justify-content: center;

      outline: none;
      cursor: pointer;

      padding: 6px 10px;

      border: 1px solid $color-white-300;
      border-radius: 4px;

      color: $color-black-900;
      background-color: $color-lightBlue-200;

      @media (max-width: 399px) {
        height: 30px;
        width: 35px;
        padding: 2px 7px;
      }
    }

    &_input {
      display: flex;
      align-items: center;
      justify-content: center;

      outline: none;
      padding: 6px 10px;

      border: 1px solid $color-white-300;
      border-radius: 4px;

      // color: $color-white-700;
      background-color: $color-white-000;

      @media (min-width: 0px) and (max-width: 479px) {
        width: 150px;
        font-size: 10px;
      }

      @media (min-width: 480px) and (max-width: 699px) {
        width: 250px;
      }

      @media (min-width: 700px) {
        width: 400px;
      }
    }
  }

  &_profileBox {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 16px;

    &_user {
      display: flex;
      align-items: center;
      justify-content: center;

      outline: none;
      cursor: pointer;

      padding: 1px 1px;
      height: 40px;
      width: 35px;

      @media (max-width: 399px) {
        width: 25px;
        height: 30px;
        font-size: 10px;
      }
    }

    &_login {
      font-size: 12px;
      height: 40px;
      width: 90px;

      @media (max-width: 599px) {
        width: 40px;
        font-size: 10px;
      }
    }
  }
}
